@font-face {
    font-family: sri;
    src: url(sriracha-regular.ttf);
}

.task {
    width: fit-content;
}
h1 {
    font-family: sri;
}
.validate {
    background-color: red;
    color:white;
    font-style: italic;
    font-weight: bolder;
}